
			h2{
				color:#003580;
				}
			#all{
				font-size:14px;
				color: #000033;
				}
			.one{
				color: #FF0000;
				}
			.two{
				color:#1f87cc;
				}
			.three{
				color: #FAA538;
				}
			.four{
				color: #0D7114;
				}
			.h1{
				width:100px;
				height:160px;
				}
			.h3{
				width:200px;
				height: 130px;
				}